/* It is better to divide the code onto files,
  but as there is only 300 lines it is unnecessary
*/
/* Vars */
/* General */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: proximaBold, sans-serif; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.screen {
  height: 100vh;
  width: 100%; }

path:not(#morph) {
  display: none; }

/*Typography*/
@font-face {
  font-family: proximaBold;
  src: url("../fonts/proxima/ProximaNova-Bold.ttf"); }
@font-face {
  font-family: proximaRegular;
  src: url("../fonts/proxima/ProximaNova-Regular.ttf"); }
@font-face {
  font-family: proximaItalic;
  src: url("../fonts/proxima/ProximaNova-Italic.ttf"); }
/*Animations */
@keyframes svgDrop {
  0% {
    transform: translateY(-60%) scale(1); }
  50% {
    transform: translateY(-50%) scale(1); }
  65% {
    transform: translateY(0%) scale(1); }
  100% {
    transform: translateY(0%) scale(1.7); } }
@keyframes img {
  0% {
    opacity: 0;
    transform: translateY(0); }
  100% {
    opacity: 1;
    transform: translateY(-10%); } }
@keyframes overlayAnim {
  0% {
    transform: translateX(-110%); }
  50% {
    transform: translateX(0); }
  100% {
    transform: translateX(110%); } }
/*Blocks*/
.morph {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  min-height: 1080px;
  min-width: 1920px;
  z-index: 3; }
  .morph__svg {
    animation-timing-function: linear;
    animation: 1.7s svgDrop forwards;
    position: absolute;
    display: block;
    left: 0;
    top: 0; }
  .morph-to-right {
    transition: 1s all;
    transition-delay: 1s;
    left: 330px; }
  .morph__device-image {
    position: relative;
    top: 25%;
    left: 500px;
    opacity: 0;
    animation: linear 0.5s img forwards;
    animation-delay: 1s; }

.top-nav {
  opacity: 0;
  transition: 0.2s all;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 50px 0 60px; }
  .top-nav__logo {
    height: 37px; }
  .top-nav__btns {
    display: flex; }
  .top-nav__btn {
    transition: 0.3s all;
    font-size: 16px;
    color: #41424E;
    width: 160px;
    height: 48px;
    border: 1px solid #41424E;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    z-index: 5; }
    .top-nav__btn:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 160px;
      height: 48px;
      z-index: -1;
      background-color: #41424E;
      transition: 0.3s all;
      transform: translate(-50%, -50%) scale(0); }
    .top-nav__btn:hover {
      color: #fff; }
      .top-nav__btn:hover:before {
        transform: translate(-50%, -50%) scale(1); }
    .top-nav__btn:first-child {
      border: 0; }

.side-nav {
  position: fixed;
  right: 45px;
  top: 27%;
  z-index: 10;
  transform: translateX(150px); }
  .side-nav--show {
    transition: 0.5s all;
    transition-delay: 1.7s;
    transform: translateX(0); }
  .side-nav__link {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    transition: 0.5s all;
    margin-top: 35px; }
    .side-nav__link:after {
      display: block;
      opacity: 0;
      position: absolute;
      left: -50px;
      top: 80px;
      transition: 0.5s all; }
    .side-nav__link:before {
      position: absolute;
      top: 40px;
      left: 7px;
      display: block;
      content: ' ';
      height: 0;
      width: 2px;
      background-color: #d8d8d8;
      transition: 0.5s all; }
    .side-nav__link--01:after {
      content: "01"; }
    .side-nav__link--02:after {
      content: "02"; }
    .side-nav__link--03:after {
      content: "03"; }
    .side-nav__link--04:after {
      content: "04"; }
    .side-nav__link--active {
      transition: 0.5s all;
      margin-bottom: 250px; }
      .side-nav__link--active:after {
        opacity: 1;
        transform: rotate(-90deg);
        font-size: 36px; }
      .side-nav__link--active:before {
        height: 180px; }

.header {
  position: relative;
  color: #41424E;
  padding-left: 160px;
  display: flex;
  align-items: center;
  opacity: 0.5; }
  .header__welcome-block {
    overflow: hidden;
    transform: translateY(70px); }
  .header__descr {
    font-family: proximaRegular, sans-serif;
    color: #999aa9;
    line-height: 30px;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 40px;
    transform: translateX(-110%); }
  .header__welcome-to {
    font-size: 30px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    transform: translateX(-110%); }
  .header__pasebase {
    letter-spacing: 0.1em;
    font-size: 90px;
    text-transform: uppercase;
    transform: translateX(-110%);
    position: relative; }
    .header__pasebase:before {
      position: absolute;
      width: 100%;
      height: 80%;
      z-index: -1;
      opacity: 0.5;
      content: ' ';
      display: block;
      background: linear-gradient(to left, #fa9839 0, #ffd06d 100%); }
  .header__reg-now {
    width: 240px;
    height: 68px;
    background-color: #f95079;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateX(-110%); }
    .header__reg-now:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 240px;
      height: 68px;
      z-index: -1;
      background-color: #41424E;
      transition: 0.3s all;
      transform: translate(-50%, -50%) scale(0); }
    .header__reg-now:hover:after {
      transform: translate(-50%, -50%) scale(1); }
  .header--show {
    transition: 2.7s all;
    transition-delay: 1s;
    opacity: 1; }
    .header--show .header__welcome-to {
      transition: 0.5s all;
      transition-delay: 1s;
      transform: translateX(0); }
    .header--show .header__pasebase {
      transition: .5s all;
      transition-delay: 1.2s;
      transform: translateX(0); }
      .header--show .header__pasebase:before {
        animation: 1s overlayAnim forwards; }
    .header--show .header__descr {
      transition: 0.5s all;
      transition-delay: 1.4s;
      transform: translateX(0); }
    .header--show .header__reg-now {
      transition: 0.5s all;
      transition-delay: 1.6s;
      transform: translateX(0); }

/*# sourceMappingURL=main.css.map */
